<div {% if not widget.attrs.style %}style="height:{{widget.height|default:'500px'}};width:{{widget.width|default:'90%'}};display:inline-block;"{% endif %}{% include "django/forms/widgets/attrs.html" %}></div>

<textarea id="{{widget.attrs.id}}_textarea" name="{{ widget.name }}" required="" style="display: none">{{ widget.value }}</textarea>

<script>
    (function() {
        var container = document.getElementById("{{ widget.attrs.id }}"),
            textarea = document.getElementById("{{widget.attrs.id}}_textarea"),
            options = {{ widget.options|safe }};

        options.onChange = function () {
            var json = null;
            try {  // try to get a well-formatted json...
                json = JSON.stringify(editor.get());
            } catch(e) {  // if it's not possible, get the raw string to use django validation!
                json = editor.getText()
            }
            textarea.value = json;
          };

          var editor = new JSONEditor(container, options),
              jsonString = `{{ widget.value|safe }}`;  // the json string, maybe well-formatted, maybe not.

          try {
              editor.set(JSON.parse(jsonString));
          } catch(e) {
              editor.setText(jsonString);
          }
    })();
</script>
